extends layout

block content
  h1 API Demo
  h2 Member Info
  form(method='POST', action='/api/me')
    input(type='text', placeholder='username', name='name')
    input(type='password', placeholder='password', name='pass')
    button(type='submit') Test
  h2 Calling info
  form(method='POST', action='/api/unit')
    input(type='text', placeholder='username', name='name')
    input(type='password', placeholder='password', name='pass')
    button(type='submit') Test
  h2 Photo
  form(method='POST', action='/api/photo')
    input(type='text', placeholder='username', name='name')
    input(type='password', placeholder='password', name='pass')
    button(type='submit') Test